body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 1s;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    transition: background-color 1s;
}

h1 {
    margin: 0;
    animation: color-change 2s infinite;
}


nav {
    background-color: #ddd;
    padding: 10px 0;
}

ul.button-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: transform .2s; 
}

button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.content {
    display: none;
}

.content.active {
    display: block;
}

main {
    padding: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img, iframe {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para pantallas de tablet */
@media (max-width: 768px) {
   h1 {
       font-size: 18px; 
   }

   button {
       padding: 5px 10px; 
   }
}

/* Estilos para pantallas de móvil */
@media (max-width: 480px) {
   h1 {
       font-size: 14px; 
   }

   button {
       padding: 3px 6px; 
   }
}
/* Estilos para pantallas de móvil */
@media (max-width: 480px) {
   ul.button-container {
       flex-direction: column;
       align-items: center;
   }

   button {
       width: 80%;
       margin-bottom: 10px;
       font-size: 18px;
       border-radius: 5px;
       box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
       white-space: normal; /* Asegura que el texto del botón pasa a la siguiente línea si es demasiado largo */
       text-align: center; /* Centra el texto dentro del botón */
   }
}
