body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Un color beige claro que puede representar la piel humana */
    transition: background-color 1s;
}

header {
    background-color: #8b4513; /* Un color marrón oscuro que puede representar el pelo humano */
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #deb887; /* Un color marrón claro que puede representar la piel humana */
    padding: 10px 0;
}

ul.button-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #8b4513; /* Un color marrón oscuro que puede representar el pelo humano */
    color: white;
    cursor: pointer;
    transition: transform .2s, background-color .5s ease-in-out; 
}

button:hover {
    background-color: #a0522d; /* Un color marrón medio que puede representar el pelo humano */
    transform: scale(1.1);
}

.content {
    display: none;
}

.content.active {
    display: block;
}

main {
    padding: 20px;
}

.cuadro-centrado {
    background-color: #fdf6e3;
    border: 2px solid #657b83;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.cuadro-centrado main {
    background-color: #eee8d5;
    padding: 10px;
    margin-bottom: 20px;
}

.cuadro-centrado header {
    background-color: #614510;
    color: white;
    padding: 10px;
    text-align: center;
}

.cuadro-centrado section {
    background-color: #fdf6e3;
    padding: 10px;
    margin-bottom: 20px;
}

.cuadro-centrado figure {
    text-align: center;
}

.cuadro-centrado img {
    max-width: 100%;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

img, iframe {
    max-width: 100%;
}

footer {
    background-color: #8b4513; /* Un color marrón oscuro que puede representar el pelo humano */
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para pantallas de tablet */
@media (max-width: 768px) {
   h1 {
       font-size: 18px; 
   }

   button {
       padding: 5px 10px; 
   }
}

/* Estilos para pantallas de móvil */
@media (max-width: 480px) {
   h1 {
       font-size: 14px; 
   }

   button {
       padding: 10px 20px; 
       font-size: 16px;
       margin-bottom: 10px;
   }
}

ul.button-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Esto permitirá que los elementos de la lista pasen a la siguiente línea si no hay suficiente espacio */
}

@media (max-width: 480px) {
   ul.button-container {
       flex-direction: column;
       align-items: center;
   }
}

h1, h2, p {
    transition: color .5s ease-in-out;
}

h1:hover, h2:hover, p:hover {
    color: #a0522d; /* Cambia el color del texto al pasar el ratón por encima */
}

img, iframe {
    transition: transform .5s ease-in-out;
}

img:hover, iframe:hover {
    transform: scale(1.1); /* Aumenta el tamaño de las imágenes y los iframes al pasar el ratón por encima */
}

.content-container {
    transition: background-color .5s ease-in-out;
}

.content-container:hover {
    background-color: #f5f5dc; /* Cambia el color de fondo del contenedor al pasar el ratón por encima */
}
@keyframes pulse {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.loading {
    animation: pulse 1s infinite;
    color: rgb(153 157 29);
    font-size: 20px;
    text-align: center;
}
